body{
	font-family: Lato, Lato light, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/*Global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}



.dark{
	padding: 15px;
	background: #10375c;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 40px;
}

/*index.html*/
/*Header*/
header{
	background: #10375c;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #f3c623 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px
}

header .highlight, header .current a{
	color: #f3c623;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

/*Showcase*/
#showcase{
	min-height: 500px;
	background: url(../img/showcase.jpg) no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	color: #ffffff;	
}

#showcase h1{
	margin-top: 150px;
	font-size: 55px;
	margin-bottom: 10px;
	color: #373a40;
}

#showcase p{
	font-size: 20px;
	color: #888;
	margin: 0;
}


/*Newsletter*/
#newsletter{
	padding: 10px;
	color: #ffffff;
	background: #10375c;
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
	border-radius: 20px;
	border: 0;
	margin-right: 5px;
}

#newsletter input[type="email"]::placeholder{
  padding-left: 10px;
}

.button_1{
	height: 37px;
	background: #f3c623;
	border: none;
	border-radius: 20px;
	padding: 0 20px;
/*	padding-left: 20px;
	padding-right: 20px;*/
	color: #10375c;
	font-weight: 700;
}

/*boxes*/

section#boxes{
	margin-top: 30px;
}

#boxes h3{
	color: #373a40;
	font-weight: 800;
}

#boxes p{
	color: #888;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img{
	width: 90px;
}


/*about.html*/

/*sidebar*/
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}

#sidebar .quote input, textarea{
	width: 90%;
	padding: 5px;
}


/*main col*/
#main-col{
	float: left;
	width: 65%;
}


/*services.html*/

/*service*/
ul#services li{
	list-style: none;
	background: #f1f1f1;
	border: #cccccc solid 0.5px;
	padding: 20px;
	margin-bottom: 5px;

}

footer{
	padding: 10px;
	margin-top: 30px;
	background-color: #10375c;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}


/*Media Queries*/
@media(max-width: 760px){
	header #branding,
	header nav,
	header nav li,
	#newsletter form,
	#newsletter h1,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 40px;
	}

	#newsletter button, .quote button{
		display: block;
		width: 100%;
	}

	#newsletter form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}

	.quote textarea{
		margin-bottom: 5px;
	}

}